// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.product {
	a:link {
		text-decoration: none;
	}
}

.thumbnail .caption a > h4,
.thumbnail .caption a > p {
	color: #333;
}