// Place all the styles related to the registration controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.create {
	background: #505050;
	color: #fff;
}
.create-account {
	color: #505050;
	margin-left: 13px;
}