// Place all the styles related to the store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form-control.filter {
	margin-bottom:30px;
}
label {
	color: #808080;
}
p.filter {
	color: #808080;
	font-weight: bold;
	margin-bottom:30px;
}