<%= form_tag user_sessions_path, class: "form-horizontal login-form" do %>
<p class="title">LOG IN</p>
<input type="text" name="email" id="email" placeholder="mail@example.com (required)" class="form-control" required="true">
<br/>

<input type="password" name="password" id="password" placeholder="password (required)" class="form-control" required="true">
<br/>

<% if @bad_access %>
	<p class="bad-login">Bad username or password</p>
<% end %>

<%= submit_tag "SIGN IN", class: "btn btn-default btn-login" %>
<p class="new-account">Don't have an account yet? <a href="/sign_up">Create one now!</a></p>
<% end %>

<script>
    $("form input").keypress(function () {
      $(".bad-login").hide();
    })
</script>